---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';

export const getStaticPaths = async () => {
  const posts = await getCollection('posts', (p) => !p.data.draft);
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={`${post.data.title}`}>
  <h1>ニュース {post.data.title} {post.slug}</h1>
  {post.data.createdAt}
  {post.data.updatedAt}
  {post.data.authorName}
  <Content />
</Layout>
